module.exports = {
  /**
   * Discord Bot settings. These are mandatory and will affect what the bot
   *   posts about, and where it posts to.
   */
  config: {
    discord: {
      // The Discord token of the Bot to post through.
      token: process.env.DISCORD_TOKEN,
      // The ID of the discord channel to post to.
      feedChannelId: process.env.ALBION_FEED_CHANNEL_ID
    },
    guild: {
      // The name of your guild (or guilds, if the guild is large).
      guilds: process.env.ALBION_GUILDS
      ? process.env.ALBION_GUILDS.split(',') : [],
      // The alliance your guild belongs to
      alliance: process.env.ALBION_ALLIANCE
    },
    battle: {
      // Min players to report as battle
      min_players: 10,
      // Min guild players to report as battle
      min_relevant_players: 3
    },
    kill: {
      // Min killfame to report kill
      min_fame: 25000
    }
  }
};